

body {
    border: 0 !important;
    background-image: url("../img/bg.png") !important;
}
#datepicker{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px;
}
#header{
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
}
form{
    margin: 0 !important;
}
.title, .date{
    margin-right: 10px;
    text-transform: uppercase;
}
.description{
    font-size: 12px;
}
.updateType, .updateTask, .edit{
    float: right;
    position: relative;
    top: -17px;
    margin-left: 10px;
}
.updateType img, .updateTask img, .edit img{
    width: 30px;
    cursor: pointer;
}
.addTaskToListForm{
    padding-bottom: 20px;
    text-align: center;
}
.inList img{
    position: relative;
    top: -18px !important;
}
#Cancel{
    margin-left: 2px;
}
.taskByDate{
    background-color: rgba(18, 197, 18, 0.4);
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
    min-height: 50px;
}
.taskByCompleted{
    background-color: rgba(18, 197, 18, 0.4);
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
    min-height: 50px;
}
.btnPrimary{
    padding: 5px 10px;
    background-color: orange;
    border-radius: 5px;
    position: relative;
    top: 12px;
    cursor: pointer;
}
.task-list{
    margin: 0 5px;
    background-color: rgba(0, 0, 0, 0.7);
    min-height: 155px;
    border-radius: 10px;
    /* padding-bottom: 15px; */
    color: #ffffff;
    padding: 20px 20px 25px 20px;
    text-align: center;
}
#pending{
    text-align: left;
}
.content{
    width: 100%;
    border-top: 4px solid orange;
}

.tab{
    padding: 5px 10px;
    background-color: white;
    color: gray;
    display: inline-block;
    min-width: 100px;
    text-align: center;
    cursor: pointer;
}
.active{
    background-color: orange;
    color: #ffffff;
}
.task-list input, .task-list textarea{
    width: 95%;
    margin: 1px 5px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px;
}

.task-list input{
    height: 30px;
}

.todo-task{
    border-radius: 5px;
    background-color: #fff;
    width: 230px;
    margin: 5px;
    padding: 5px;
}
.hint::-webkit-input-placeholder {
    color: red;
}